@import "tailwindcss";

:root {
  --primary: #276ef1;
  --accent: #ffb400;
  --teal: #2ec4b6;
  --background: #ffffff;
  --text-dark: #1a1a1a;
  --text-light: #adb5bd;
  --card-bg: #fafafa;
  --border: #efefef;
}

@theme inline {
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-teal: var(--teal);
  --color-background: var(--background);
  --color-text-dark: var(--text-dark);
  --color-text-light: var(--text-light);
  --color-card-bg: var(--card-bg);
  --color-border: var(--border);
  --font-sans: var(--font-space-grotesk);
  --tw-shadow2: 0 0 10px 0 var(--tw-shadow-color, #0000001a);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-dark);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

/* Custom gradient background */
.gradient-bg {
  background: linear-gradient(135deg, rgba(228, 228, 228, 0) 0%, #a9c5f9 100%);
}

.square-shawdow-color {
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow2);
}
